* {
    box-sizing: border-box;
}

body {
    background-image: url(/Images/andrej-lisakov-g3z-CgUiPtg-unsplash.jpg);
    background-size: cover;
    opacity: 0.8;
}
/*This HOME page section*/

header {
    display: flex;
    background-color: black;
    position: fixed;
    top: 0;
    width: 99%;
}

header p {
    width: 300px;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    color: #f1f0f2;
    background-color: black;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    height: auto;
    background-color: black;
    font-size: 35px;
    font-family: 'Bangers', cursive;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content:center;
    align-items: center;
    float: right;
    gap: 30px;
    padding-right: 30px;
}

li a {
    color: #f1f0f2;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.main-container {
    width: 1300px;
    height: 100%;
    background-color: black;
    margin-top: 100px;
}
.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    
}

.intro {
    font-size: 45px;
    color: #f1f0f2;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: 'Bangers', cursive;
    
}

.logo img{
    width: 100%;
    height: 100%;

}

/*This ABOUT ME section*/

.about-grid {
    display: grid;

    width:80%;
    max-width: 600px;
    margin:0 auto;
    border: 3px solid burlywood;

}

.about-img {
    width: 100%;
    height: auto;
}

.grid-content {
    background-color: aliceblue;
    padding: .45em;
    box-shadow: 4px 4px 4px blue;
}
